#mapContainer {
    position: relative;
    height: 100%;
    z-index: 4;

    .amap-logo,
    .amap-copyright {
        display: none !important;
    }

    .amap-scalecontrol {
        bottom: 8px !important;
        left: 8px !important;
    }
}
